{
  "presets": [
    ["@babel/preset-env", { "targets": { "ie": 11 }, "debug": true }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
  // "plugins": [
  //   [
  //     "@babel/plugin-transform-runtime",
  //     {
  //       "absoluteRuntime": false,
  //       "corejs": 3,
  //       "helpers": true,
  //       "regenerator": true,
  //       "useESModules": false
  //     }
  //   ]
  // ]
}
